*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
}



html{
    color: #601d1d;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: #fff;
}


h1{
    font-size: 130%;
    font-weight: 200;
    word-spacing: 1px;
    text-align: center;
    margin: 30px 0;  
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(32, 99, 143, 0.73);
}

h1:after{
    display:block;
    height: 2px;
    background-color: rgba(41, 128, 185, 0.6);
    content: " ";
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
}


.cytaty{
  
    color: rgba(32, 99, 143, 0.73);
    line-height: 145%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}



a:link,
a:visited{
    

    text-decoration: none;
    color: rgba(32, 99, 143, 0.73);
    padding-bottom: 1px;
/*    border-bottom: 1px solid rgba(32, 99, 143, 0.73);*/
    transition: color 0.4s, border-bottom 0.4s;  
    border-bottom: 2px solid rgba(41, 128, 185, 0.6);  
    position: relative;
}


a:hover,
a:active{
    text-decoration: none;
    color: rgba(32, 99, 143, 0.73);
    display: inline-block;
    padding: 10px 0 8px 0;
    font-weight: 400;
    border-bottom: 2px solid transparent;
}


footer{
    text-align: center;
}

footer p{
    color: #9CA1B5;
}

.clearfix{
    zoom: 1;
}
.clearfix:after {
    content: '.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
    
}


    
    


.roww{
    
    width: 70%;
    margin: 10px auto;
    
}

.rowww{
    
    width: 100%;
    text-align: center;
    margin: 20px 35px;
    
    
}


#navbar{
    display: block;
    height: 40px;
    background: #fff;
    text-align: center;
    margin: 20px 0;
}


#navbar a{
    display: inline-block;
    height: 40px;
    line-height: 37px;
    padding: 0 15px;
    
}



#main{
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 0 auto;
    
}

#gallery{
    border-top: 40px;
    margin: 10px 0px;
}


#main li{
    display: block;
    width: 32%;
    margin-bottom: 0.2em;
    margin-right:6px;
    float: left;
    list-style:  none;
    position: relative;
    
    
    
}

.grupa{
    
    
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    vertical-align: middle;
    line-height: 5px;
    background-color: #000;
}
    
#main .grupa{
    
}



#main img{
    width: 100%;
    padding: 0;
    margin: 0 0px;
    transform: scale(1.10);
    opacity: 0.7;
    transition: opacity 0.5s, transform 0.5s;
     
}
 

#main img:hover {
    transform: scale(1.04);
    opacity: 1;
}







#main ul{
    overflow: hidden;
}

#main ul.hidden{
    display: none;
}



#cycler{
    position:relative;}
#cycler img{
    position:absolute;z-index:1}
#cycler img.active{
    z-index:3}
















/*
footer{
    text-align: center;
    color: #999;
}
*/


/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


html{
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
}



.roww {
    max-width: 1340px;
    margin: 0 auto;
    
}


section{
    
    padding: 80px 0;
    
}

#gallery li{
    display: inline-block;
    width: 80%;
}


#galerry img {
    
    display: inline-block;
    width: 80%;
    
}*/
