
/*Podstawowe Ustawienia                   */
/*Podstawowe Ustawienia                   */
/*Podstawowe Ustawienia                   */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


html{
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
}


.clearfix:after {
    content: '.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
    
    
}




.row {
    max-width: 1140px;
    margin: 0 auto;
    
}


section{
    
    padding: 80px 0;
    
}



section.zdjecia{
    
    padding-bottom: 0px;
    
}


section.podroz{
    background-color: #f4f4f4;
}


/* Naglowki i Header                   */
/* Naglowki i Header                   */
/* Naglowki i Header                   */

section.oceny{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.39)), url(2tlo5.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    padding: 0;
}




header {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.62)), url(rsz_rsz_hero1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

section.duzezdjecie{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.33)), url(tener.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    padding-bottom: 0;
    margin-bottom: 0;
}



h1,
h2,
h3,
h5,
h6{
    
    font-weight: 300;
    text-transform: uppercase;
    
    
}


h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 300%;
    word-spacing: 3px;
    letter-spacing: 1px;
}


h2{
    
    font-size: 160%;
    word-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;  
    letter-spacing: 1px;
}



h4{
    padding-top: 10px;
    display: inline-block;
    font-weight: 400;
}



h2:after{
    display:block;
    height: 2px;
    background-color: rgba(41, 128, 185, 0.6);
    content: " ";
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    
}

h2.mekka{
    
    color: #fff;
    
}



h5{
    
    font-size: 160%;
    word-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;  
    letter-spacing: 1px;

}

h6{
    padding-top: 250px;
    font-size: 200%;
    color: #fff;
    word-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;  
    letter-spacing: 1px;
}

/* NAWIGACJA GLOWNA                       */
/* NAWIGACJA GLOWNA                       */
/* NAWIGACJA GLOWNA                       */
/* NAWIGACJA GLOWNA                       */



.logo{
    
    height: 130px;
    width: auto;
    float: left;
    margin-top: 20px;
    
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
  
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active{

    border-bottom: 3px solid rgba(32, 99, 143, 0.73);
}









/* Wszystkie CSS z tekstem                */
/*                                        */
/*                                        */

.hero-text-box{
    
    position: absolute;
    width: 1140px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.longcopy{
  
    line-height: 145%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}


#cytat{
    
    
 
        width: 75%;
        padding-left: 2%;
        position: relative;
        font-size: 100%;
        margin-bottom: 30px;
}

#cytat:after{
    

        position: absolute;
        bottom: 0;
        right: -50px;
        color: #eee;
        font-size: 7em;
        line-height: 0;
        content: '"';
}






.naszapasja .longcopy{
    
    margin-bottom: 30px;
    
}


.box {
    padding: 1%;
    
}


.box p{
    font-size: 90%;
    line-height: 145%;
    
}


.number-one{
    padding-top: 30px;
    padding-bottom: 5px;
}

.number-two{
    padding-top: 4px;
    padding-bottom: 15px;
}

.number-three{
    padding-top: 2px;
    padding-bottom: 10px;
}


/* Wszystkie CSS 222z tekstem                */
/*                222                        */
/*                  222                      */
/*                  222                      */
/*                  222                      */
/*                  222                      */


.dwieKolumny{
    padding-top: 60px;
}

.dwieKolumny:first-child{
    text-align:right;
    padding-right: 3%;
    margin-top: 40px;
}


.dwieKolumny:last-child{
    padding-left: 3%;
    margin-top: 70px;
}



.dozdjecia{
    
    margin-top: 20px;
    font-size: 18px;
    line-height: 130%;
    padding-right: 4%;
    display: block;
    height: 260px;
    
}

/*
.work-steps:nth-child(3){
    
    
}
*/




/* Wszystkie Buttons                     */
/*                                       */
/*                                       */
/*                                       */

.btn:link,
.btn:visited{
   
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
    
}

.btn-full:link,
.btn-full:visited{
    
    background-color: rgba(41, 128, 185, 0.6);
    border: 3px solid rgba(41, 128, 185, 0.6);
    color: #fff;
    margin-right: 15px;
}


.btn-ghost:link,
.btn-ghost:visited{
    border: 3px solid rgba(41, 128, 185, 0.6);
    color: rgb(41, 146, 185);

}


.btn:hover,
.btn:active {
    background-color: rgba(32, 99, 143, 0.73);
}


.btn-full:hover,
.btn-full:active{
    
    border: 3px solid rgba(32, 99, 143, 0.73);
    
}


.btn-ghost:hover,
.btn-ghost:active{
    border: 3px solid rgba(32, 99, 143, 0.73);
    color: #fff;

}





/* IKONY                            */
/* IKONY                            */
/* IKONY                            */
/* IKONY                            */
/* IKONY                            */



.box a{
    text-decoration: none;
    color: rgba(32, 99, 143, 0.73);
    
}

.duze-ikony{
    
    font-size: 300%;
    display: inline-block;
    color: rgba(41, 128, 185, 0.6);
    margin-bottom: 10px;
}




/* Zdjecia                            */
/* Zdjecia                            */
/* Zdjecia                            */



.zdjeciaslajd{
    
    list-style: none;
    width: 100%;
    
  

}


.zdjeciaslajd li{
   
    float: left;
    width: 25%;
}


.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.74);
}

.meal-photo img {
    opacity: 0.8;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    
}


.meal-photo img:hover {
    transform: scale(1.06);
    opacity: 1;
}



.prawiePusty{
    width: 70%;
    
}



.mozeteraz img{
    display: inline-block;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    margin-right: 2%;
    margin-top: 30px;
}



.oceny img{
    
    width: 100%;
    margin: 0;
    padding: 0;
    
    
    
}

.zapowiedz img{
    
    display: block;
    width: 70%;
    height: 150px;
    margin-bottom: 15px;
    margin-left: 13%;
    
}

/*  LINKI                                 */
/*  LINKI                                 */
/*  LINKI                                 */
/*  LINKI                                 */
/*  LINKI                                 */
/*  LINKI                                 */

.wejscie{
    text-decoration: none;
    color: rgba(32, 99, 143, 0.73);
}

a.wejscie:link,
a.wejscie:visited{
    
    text-decoration: none;
    color: rgba(32, 99, 143, 0.73);
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(32, 99, 143, 0.73);
    transition: border-bottom 0.4s, color 0.4s;
    
}

a.wejscie:hover,
a.wejscie:active{
    
    color: rgba(19, 75, 111, 0.85);
    border-bottom: 1px solid transparent;
}



.work-steps{
    margin-bottom: 50px;
}

.work-steps div{
    color: rgba(41, 128, 185, 0.6);
    border: 2px solid rgba(41, 128, 185, 0.6);
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 6px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
    font-weight: 400;
}



.pamietac:link,
.pamietac:visited{
    text-decoration: none;
    color: rgba(32, 99, 143, 0.73);
    display: inline-block;
    padding: 10px 0 8px 0;
    font-weight: 400;
    border-bottom: 1px solid rgba(32, 99, 143, 0.73);
    transition: border-bottom 0.5s;
    
}


.pamietac:hover,
.pamietac:active{
    text-decoration: none;
    color: rgba(32, 99, 143, 0.73);
    display: inline-block;
    padding: 10px 0 8px 0;
    font-weight: 400;
    border-bottom: 1px solid transparent;
}



/*              FOOTER                */
/*              FOOTER                */
/*              FOOTER                */
/*              FOOTER                */
/*              FOOTER                */
/*              FOOTER                */



.mapa{
    width: 100%;
}



footer{
    background-color: rgb(128, 128, 128);
    padding: 30px 0 40px 0;
    
    
}


.footer_nav{
    list-style: none; 
    float: left;
    
  
}

.social_links li{
    margin-right: 25px;
    display: inline-block;
}


.footer_nav li{
    display: inline-block;
    margin-right: 20px;
    
}


.social_links li:last-child,
.footer_nav:last-child{
    
    margin-right: 0;
}

.footer_nav li a:link,
.footer_nav li a:visited,
.social_links li a:link, 
.social_links li a:visited {
        
    text-decoration: none;
    border: 0;
    color: #7FB3D5;
    transition: color 0.4s;
}

.social_links li a:link, 
.social_links li a:visited {
        
    font-size: 140%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    
    transition: color 0.4s;
}



.ion-social-facebook:hover{
    color: #3b5998;
}

.ion-social-twitter:hover{
    color:#55acee;
}

.ion-social-googleplus:hover{
    color:#dd4b39;
}

.ion-social-instagram:hover{
    color: #125688;
}


.footer_nav li a:hover,
.footer_nav li a:active{
   
    color: #ffffff;
    

    
}


.social_links{
    list-style: none;
    float: right;
    
    
}


footer p{
    
    text-align: center;
    font-size: 90%;
    margin-top: 60px;
}



.mapa{
    display: block;
}







.zapowiedz{
    
    margin-left: 20%;
    
}


.zapowiedz h4{
    text-align: center;
    display: block;
    color: #5E8EAE;
}



.map-box{
    margin: 30px 0;
}


.opis-teneryfa{
    
    margin-top: 20px;
    font-size: 18px;
    line-height: 130%;
    display: block;
    height: 260px;
    width:65%;
    margin-left: 18%;
}







